@tailwind base;
@tailwind components;
@tailwind utilities;

.text-gradient {
    background: linear-gradient(90deg, rgba(255,144,144,1) 0%, rgba(143,0,146,1) 100%);
    background-clip: text;
    -webkit-background-clip: text; /* For Safari and Chrome */
    color: transparent;
    -webkit-text-fill-color: transparent; /* For Safari and Chrome */
  }
  